<p>
  <label>Watch forum messages by default</label>
  <%= check_box_tag 'settings[watch_forum_messages]', true, @settings['watch_forum_messages'] %>
</p>
<p>
  <label>Add to watchers after comment issue</label>
  <%= check_box_tag 'settings[add_to_watchers_after_comment_issue]', true, @settings['add_to_watchers_after_comment_issue'] %>
</p>